.Effect {
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  height: 60px;
  font-family: "Courier New", Courier, monospace;
}
.cursor {
  display: inline-block;
  position: relative;
}
.cursor::after {
  content: "";
  margin: auto;
  position: absolute;
  right: -4px;
  top: -3px;
  width: 1px;
  height: 100%;
  background-color: #666;
  animation: cursor-animation 1.5s step-end infinite;
}
@keyframes cursor-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
