.App {
  text-align: center;
  display: grid;
  grid-template-rows: 0 90vh auto;
}

.App-logo {
  height: 40vmin;
}

.App-main {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  height: 10vh;
  background: #333;
  display: flex;
  flex-direction: column;
  color: #09d3ac;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #09d3ac;
}

.red {
  color: red;
}

.white {
  color: white;
}

.titulo-principal {
  max-width: 580px;
  text-align: center;
  margin: 60px auto;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
.titulo-principal:after {
  content: "|";
  margin-left: 5px;
  opacity: 1;
  animation: pisca 0.7s infinite;
}

.redesSocias {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.redesSocias a {
  color: #09d3ac;
  font-size: 5vh;
  margin: 8px;
}
.redesSocias a:hover {
  color: #07af8e;
}

.logoBlog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #09d3ac;
  padding: 10px;
  margin-bottom: 20px;
  height: 100px;
}
/* Animação aplicada ao content referente a classe *.titulo-principal* resultando num efeito de cursor piscando. */

@keyframes pisca {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
